<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weather</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    {{>header}}
    <div class="container">
        <div class="header">
            <span class="city" id="city">London</span>
        </div>
        <span class="weather-icon"><img
                src="https://raw.githubusercontent.com//steeven7/Weather_App/master/assets/unknown.png"
                alt="icon for forecast" /></span>
        <div class="weather">
            <span id="desc">Hanoi</span>
        </div>
        <div class="temp">Current Temp: <span id="temperature">10 ℃</span></div>
        <form>
            <div class="search">
                <input type="text" id="location" class="location" placeholder="Search city" />
                <button type="submit" id="btn">Search</button>
            </div>
        </form>
    </div>
    <script src="js/index.js"></script>
</body>

</html>